.main-header {
  max-width: 100%;
  background-image: -moz-linear-gradient(-3deg, rgb(8, 21, 51) 0%, rgb(0, 0, 0) 48%, rgb(59, 59, 59) 100%);
  background-image: -webkit-linear-gradient(-3deg, rgb(8, 21, 51) 0%, rgb(0, 0, 0) 48%, rgb(59, 59, 59) 100%);
  background-image: -ms-linear-gradient(-3deg, rgb(8, 21, 51) 0%, rgb(0, 0, 0) 48%, rgb(59, 59, 59) 100%);
}

.main-header__top {
  background-color: #2052c9;
  color: #fff;
  max-width: 100%;
}

.logotype {
  margin: auto;
}

.main-header--wrapper {
  display: flex;
  justify-content: space-between;
}

.main-header__description {
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  color: #fff;
  max-width: 250px;
  padding: 0 20px;
  margin: 21px auto;
}

.phone-number a {
  font-family: inherit;
  font-size: 18px;
  line-height: 48px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  padding: 0 20px;
}

.main-header__wrapper--left {
  display: flex;
}

.main-header__wrapper--right {
  display: flex;
}

.advantages {
  list-style: none;
  display: flex;
  align-content: stretch;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  max-width: 660px;
  margin-bottom: 50px;
}

.advantages__item {
  color: #fff;
  max-width: 300px;
  padding: 10px 10px;
  position: relative;
}

.advantages__item::before {
  content: "";
  position: absolute;
  left: -10px;
  top: 20%;
  width: 9px;
  height: 9px;
  background-color: #3794f2;
  border-radius: 50%;
}

.main-header__content {
  padding-top: 100px;
  padding-bottom: 100px;
  z-index: 1;
  position: relative;
}

.main-header__bottom::after {
  content: "";
  position: absolute;
  width: 667px;
  height: 580px;
  background-image: url(../img/hand-with-the-phone.png);
  background-repeat: no-repeat;
  bottom: 0;
  right: 0;
  z-index: 0;
}

.main-nav__list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;

}

.site-navigation__item {
  position: relative;
}

.site-navigation__item a {
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  padding: 16px 20px;
  margin: 0 auto;
  display: block;
}

.main-header__bottom {
  position: relative;
}

.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;
  display: block;
  width: 70px;
  height: 47px;
  background-color: #0e348e;
  cursor: pointer;
  border: none;
  outline: none;
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 17px;
  width: 36px;
  height: 2px;
  background-color: #ffffff;
  box-shadow: 0 8px 0 0 #ffffff, 0 16px 0 0 #ffffff;
}

.main-nav--closed .main-nav__toggle:active::before {
  background-color: #fff;
  box-shadow: 0 8px 0 0 #fff, 0 16px 0 0 #fff;
}

.main-nav--opened .main-nav__toggle {
  top: 0;
  right: auto;
  left: 0;
}

.main-nav--opened .main-nav__toggle::before,
.main-nav--opened .main-nav__toggle::after {
  content: "";
  position: absolute;
  top: 24px;
  left: 18px;
  width: 36px;
  height: 2px;
  background-color: #ffffff;
}

.main-nav--opened .main-nav__toggle::before {
  transform: rotate(45deg);
  box-shadow: none;
}

.main-nav--opened .main-nav__toggle::after {
  transform: rotate(-45deg);
}

.main-nav--opened .main-nav__toggle:active::before,
.main-nav--opened .main-nav__toggle:active::after {
  background-color: #fff;
}

@media (max-width: 1200px) {

  .main-header__content {
    padding-top: 55px;
    padding-bottom: 55px;
  }
}

@media (max-width: 767px) {

  .main-header__wrapper--right,
  .main-header__description {
    display: none;
  }

  .main-header__wrapper--left {
    margin: 0 auto;
    padding: 15px 20px;
  }

  .main-nav {
    width: 100%;
    background-color: #2052c9;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 2;
    border-bottom: 1px solid #2968ff;
  }

  .main-nav__list {
    display: block;

  }

  .fixed {
    position: fixed;
    display: block;
    left: 0;
    top: 0;
    right: 0;
    z-index: 999990;
    background-color: #fff;
  }

  .site-navigation__item {
    margin: 0 auto;
    text-align: center;
    position: relative;
  }

  .main-header__bottom {
    margin: 0;
    padding: 0;
  }

  .site-navigation__item a {
    display: block;
    padding: 12px 30px;
    text-transform: uppercase;
    text-decoration: none;
    border-top: 1px solid #255edf;
    border-bottom: 1px solid #1f2cca;
  }

  .site-navigation__item a:hover {
    background-color: #0e348e9e;
    border-top-color: #0e348e9e;
    color: #b1a0a0;
  }

  .site-navigation__item::before {
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    bottom: 0;
    height: 2px;
    background-color: #f89d0e;
  }

  .mobile-info {
    padding-top: 10px;
  }

  .mobile-info a {
    color: #fff;
    text-decoration: none;
  }


  .mobile-info__social-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .mobile-info__social-link {
    padding: 10px;
  }

  .mobile-info {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }

  .mobile-info__woolfy {
    max-width: 50%;
    padding: 12px;
    height: auto;
  }

  .mobile-info__social-list {
    flex-direction: column;
    padding-right: 23px;
  }

  .mobile-info__social-link img {
    width: 50px;
  }

  .main-nav--closed .main-nav__list,
  .main-nav--closed .mobile-info {
    display: none;
  }

  .main-nav--opened .main-nav__wrapper {
    position: absolute;

    top: 0;
    right: 0;
    left: 70px;
    z-index: 10;

    min-height: 66vh;
    background-color: #2052c9;
  }

  .main-nav--opened .main-nav__wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 7px;
    height: 100%;
    box-shadow: inset 4px 0 7px -2px rgba(0, 0, 0, 0.4);

  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .site-navigation__item {
    display: block;
  }

  .main-nav--nojs .main-nav__list {
    display: block;
  }

  .main-nav--nojs .main-nav__wrapper {
    position: static;
  }

  .advantages {
    margin-bottom: 35px;
  }

  .service__picture {
    display: none;
  }

}


@media (min-width: 768px) {

  .main-nav__toggle,
  .mobile-info {
    display: none;
  }
}


.main-nav {
  border-bottom: 1px solid #2968ff;
}

@media (max-width: 640px) {

  .mobile-info__woolfy {
    max-width: 60%;
    padding: 10px;
    height: auto;
  }

  .mobile-info__social-link img {
    width: 44px;
  }

  .main-nav--opened .main-nav__wrapper {
    min-height: 58vh;

  }
}
